#loggedInDiv {
  float: right;
}

#userName {
  float: right;
  background-color: #596970;
  padding: 2px 3px;
  margin-top: 5px;
  box-shadow: 0px 2px 5px black;
  color: white;
  border-radius: 4px;
  border-bottom: 2px solid #c4ffff;
}

/*darkmode slider*/
.switch {
  position: relative;
  width: 80px;
  height: 48px;
  margin-top: 8px;
  overflow: auto;
  float: right;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 25px;
}

#sliderLabel {
  font-size: 14px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 9px;
  bottom: 8px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 25px;
}

.darkModeIcons {
  margin-top: 15px;
}

.moon {
  display: inline-block;
  margin-left: 15px;
}

.sun {
  display: inline-block;
  margin-left: 15px;
}

.sliderText {
  position: relative;
  bottom: 20px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.dark-mode {
  background-color:#2a2a2a;
  color: rgb(255, 255, 255);
}

.inputDarkMode {
  color: black;
}

.contactBackgroundDarkMode {
  background-color: #596970;
  color: black;
}
/*end of darkmode slider*/

#logoutButton {
  background-color: #ba3200;
  float: right;
  margin-bottom: 0px;
  margin-left: 5px;
}

#cancelButton {
  background-color: #ba3200;
}

button:hover {
  opacity: 0.7;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.invalid {
  font-size: medium;
  color: #f44336;
  text-decoration: underline;
}

input.invalidBorder {
  border: 3px solid red;
}

#mobileSep {
  display: none;
  margin-top: 93px;
  margin-bottom: 5px;
}
#mobileSep2 {
  display: none;
  margin-top: 93px;
  margin-bottom: 5px;
}

.contactSeparator {
  height: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contactBackground {
  margin-top: 5px;
  background-color: #eaffff;
  box-shadow: 0px 0px 2px;
  border-radius: 2px;
  max-width: 600px;
  width: 100%;	
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;	
}

#contactButtons {
  display: inline-block;
}

@media screen and (max-width: 484px) {
  #mobileSep {
    display: block;
  }
  #mobileSep2 {
    display: block;
  }
  #searchLabel {
    margin-top: 10px;
  }
  #editLabel {
    margin-top: 10px;
  }
}

@media screen and (max-width: 414px) {
  #mobileSep {
    margin-top: 65px;
  }
  #mobileSep2 {
    margin-top: 45px;
  }
  input {
    width: 100%;
  }
  #logoutButton {
    float: none;
    width: 100%;
    margin-left: 0px;
  }
  #loggedInDiv {
    float: none;
  }
  #userName {
    width: 100%;
  }
  #searchColorButton {
    width: 100%;
  }
  #addColorButton {
    width: 100%;
  }
  #sliderBreak {
    display: none;
  }
}
