/* Full-width inputs */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.7;
}

a #signupbtn {
  width: auto;
  padding: 10px 18px;
  background-color: rgb(0, 52, 194);
  float: left;
}

#signupbtnpad {
  padding-left: 0px;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 30%;
  max-width: 350px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}

#imgSeparator {
  width: 50%;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #54caed));
  margin-bottom: 0px;
}

/* Add padding to containers */
.container {
  padding: 16px;
  overflow: hidden;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 414px) {
  a #signupbtn {
    width: 100%;
  }
}

#loginResult {
  font-size: medium;
  color: #f44336;
  text-decoration: underline;
}

#cancelContainer {
  background-color: #f1f1f1;
  border: 1px solid rgb(151, 151, 151);
}

#relativePos {
  position: relative;
}

.loginIcons {
  position: absolute;
  right: 0;

}
