/* Full-width inputs */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.7;
}

a #signupbtn {
  width: auto;
  padding: 10px 18px;
  background-color: rgb(0, 52, 194);
  float: left;
}

#signupbtnpad {
  padding-left: 0px;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 30%;
  max-width: 350px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}

#imgSeparator {
  width: 50%;
  background: linear-gradient(0.25turn, white, #54caed, white);
  margin-bottom: 0px;
}

/* Add padding to containers */
.container {
  padding: 16px;
  overflow: hidden;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 414px) {
  a #signupbtn {
    width: 100%;
  }
}

.invalid {
	  font-size: medium;
	    color: #f44336;
	      text-decoration: underline;
      }

      input.invalidBorder {
	        border: 3px solid red;
	}

#cancelContainer {
  background-color: #f1f1f1;
  border: 1px solid rgb(151, 151, 151);
}

#relativePos {
  position: relative;
}

.loginIcons {
  position: absolute;
  right: 0;
}

/*darkmode slider*/
.switch {
  position: relative;
  width: 80px;
  height: 48px;
  margin-top: 8px;
  overflow: auto;
  float: right;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 25px;
}

#sliderLabel {
  font-size: 14px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 9px;
  bottom: 8px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 25px;
}

.darkModeIcons {
  margin-top: 15px;
}

.moon {
  display: inline-block;
  margin-left: 15px;
}

.sun {
  display: inline-block;
  margin-left: 15px;
}

.sliderText {
  position: relative;
  bottom: 20px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.dark-mode {
  background-color:#2a2a2a;
  color: rgb(255, 255, 255);
}

.inputDarkMode {
  color: black;
}

#imgSeparator.imgSeparatorDarkMode {
  background: linear-gradient(0.25turn, #2a2a2a, #54caed, #2a2a2a);
}

#cancelContainer.cancelContainerDarkMode {
  background-color: rgb(113, 113, 113);
  border: 1px solid rgb(151, 151, 151);
}
/*end of darkmode slider*/
