h1 {
  background-color: #487480;
  color:rgb(255, 255, 255);
  padding: 7px;
  box-shadow: 0px 2px 10px black;
  border-radius: 4px;
  border-bottom: 2px solid #c4ffff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding:20px;
  margin-top:0px;
  background-color:#f5fcfe;
}

label {
  font-size: 16px;
}

input {
  box-shadow: 0 0 1px black;
  border-radius: 10px;
}

hr {
  height: 2px;
  background-color: #54caed;
  border: none;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 0px 2px black;
}

.navbar-toggler {
    background-color: rgb(0, 68, 171);
}
.navbar-toggler-icon {
  color: black;
  background-color: rgb(0, 0, 0);
}

/* Modify brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(255, 255, 255);
}
/* Modify the background color */
.navbar-custom {
  background-color:cornflowerblue;
  border-bottom: 3px solid black;
}

a:hover:not(.active) {
  background-color: #845600;
  color:white;
}
