/* body {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid 2px black;
}
li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
}
li {
  float: left;
} */

#rightalign {
  float: right
}

/* li a.active {
  background-color: #04AA6D;
  color: white;
}
li a:hover:not(.active) {
  background-color: #845600;
  color:white;
}
*/
h1 {
  background-color: cornflowerblue;
  color:rgb(255, 255, 255);
  padding: 7px;
  box-shadow: 0px 3px 10px black;
}

#bodystyle {
  padding:20px;
  margin-top:0px;
  background-color:#fff0d2;
  height:1500px;
}

.navbar-toggler {
    background-color: rgb(0, 68, 171);
}
.navbar-toggler-icon {
  color: black;
  background-color: rgb(0, 0, 0);
}

/* Modify brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(255, 255, 255);
}
/* Modify the background color */
.navbar-custom {
  background-color:cornflowerblue;
  border-bottom: 3px solid black;
}

a:hover:not(.active) {
  background-color: #845600;
  color:white;
}
