#loggedInDiv {
  float: right
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

#logoutButton {
  background-color: #ba3200;
}

button:hover {
  opacity: 0.7;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

@media screen and (max-width: 300px) {
  button {
    float: none;
    width: 100%;
  }
}